.navbar-nav li:hover {
	background-color: #ccefa5;
}

.main-section {
	min-height: 700px;
	background-color:  #ccefa5;
	padding: 1px 15px 15px 15px;
	margin-bottom: 15px;
}

/* Media Rules */
@media(max-width:767px){
	#navbar-collapse {
		background-color: #f1f1f1;
	}
}
